
body{
  font-family: 'Open Sans', sans-serif;
  /* width: 500px */
}

#mainContainer{
  width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainContainer>div:last-child{
  margin-bottom: 60px;
}

.settingContainer{
  display: flex;
  flex-direction: column;
  width: 370px;
  margin-bottom: 20px;
}

.settingContainer .settingInfo h5{
  font-size: 1.5em;
}

.settingContainer .settingDescription{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  max-width: 380px;
}

.settingDescription:first-of-type{
  margin-bottom: 0;
}

.settingDescription:nth-of-type(n+2){
  margin-top: 0;
}

.settingContainer .settingInput{
  display:flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.inlineSettingContainer{
  display: flex;
  flex-direction: column;
  width: 370px;
  margin-bottom: 20px;
}

.inlineSettingContainer .settingDescription{
  font-size: 1.2em;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 380px;
}

.inlineSettingContainer .settingHeaderAndInput{
  align-items: center;
  display: flex;
}

.inlineSettingContainer .settingHeaderAndInput h5{
  font-size: 1.5em;
  margin-right: 20px;
}

.inlineSettingContainer .settingHeaderAndInput .settingInput{
  margin-top: 16px;
}

.noUi-target {
  max-width: 300px;
}

#volumeSliderOutput {
  font-size: 1.5em;
  flex-shrink: 0;
  margin-left: 20px;
  flex-basis: 28px;
}
#volumeSlider{
  flex-grow: 1;
  max-width: 296px;
}

#videoQualitySetting{
  margin-bottom: 8px;
}

#videoQualitySetting .settingDescription{
  margin-bottom: -10px;
}

#defaultMpvWindowSizeSetting{
  margin-bottom: 26px;
}

#defaultMpvWindowSizeSetting .settingDescription{
 margin-bottom: 8px;
}

#defaultMpvWindowSizeSetting .settingDescription:last-child{
 margin-bottom: 14px;
}

#defaultMpvWindowSizeSliderOutput {
  font-size: 1.5em;
  flex-shrink: 0;
  margin-left: 20px;
  flex-basis: 81px;
  margin-right: -50px;
}
#defaultMpvWindowSizeSlider{
  flex-grow: 1;
}

#oscStyleSetting{
  margin-bottom: 8px;
}

#oscStylePreviewLink{
  margin-left: 40px;
  font-size: 1.3em;
  color: #754A72;
}
